body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.alphacoders.com/113/1136703.jpg");
}
header {
    text-align: center;

}
h1{
    background: rgba(240, 240, 240,0.50);
    font-size: 1vw;
}
h2 {
    background: rgba(240, 240, 240, 0.50);
    border-radius: 15px;
    font-size: 1vw;
}
a {
    align-items: center;
}
#title{
    width: 30%;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    position: center;
}#title2{
     width: 30%;
     align-items: center;
     text-align: center;
     font-size: 4rem;
     position: center;
 }
#title-btn{
    font-size: xx-large;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}
#title-btn2{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}
#search{
    width: 50%;
    font-size: larger;
    display: flex;
    align-items: flex-start;
}
#myInput{
    margin-right: auto;
}
#back{
    font-size: larger;
    display: flex;
    align-items: flex-end;
    align-self: end;
}
.spaceT{
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.70);
}
tr:nth-child(odd) {
    background-color: rgba(214, 214, 214, 0.70);
}

th {
    font-size: x-large;
    background-color: #545454;
    color: aliceblue;
    font-weight: 300;
    color: white;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
