body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.alphacoders.com/113/1136703.jpg");
}
header {
    text-align: center;
    background: rgba(147, 202, 211, 0.80);
}
h1{
    background: rgba(147,202,211,0.90);
    border-radius: 15px;
    font-size: 1vw;
}
h2 {
    background: rgba(147, 202, 211, 0.90);
    border-radius: 15px;
    font-size: 1vw;
}
#title{
    width: 50%;
    text-align: center;
    font-size: 4rem;
}
#title-btn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}
#search{
    width: 50%;
}
#myInput{
    margin-right: auto;
}
#back{
    margin-left: auto;
}
a{
    border: solid blue 1px;
    text-decoration-line: none;
    color: black;
    width: 30%;
    padding: 5vw;
    text-align: center;
}
.spaceT{
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(147, 202, 211, 0.90);

}

th {
    background-color: #004346;
    color: aliceblue;
    font-weight: 300;
    color: white;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
