body{
    margin: 0;
    padding:0;
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    padding: 2rem;
}
header{
    text-align: center;
    font-size: 15px;
    border: solid red 1px;
}
#title-btn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    width: 40%;
    border: solid red 1px;
    text-align: center;
    font-size: 3rem;
}
#user{

}
#log{

}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
//border: solid red 1px;
    width: 100%;

}
a{
    border: solid blue 1px;
    text-decoration-line: none;
    color: black;
    width: 30%;
    padding: 5vw;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #508991
}

th {
    background-color: #004346;
    color: aliceblue;
    font-weight: 300;
    font-family: Manrope, sans-serif;
}