body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    padding: 2rem;
    background-image: url("static/images/background.jpeg");
}
header{
    text-align: center;
    font-size: 6px;
    border: solid red 1px;
}
#title-btn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#title{
    width: 40%;
    //border: solid red 1px;
    text-align: center;
    font-size: 3rem;
}
.info{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration-line: none;
    color: black;
    text-align: center;
    margin-top: 3vw;
    width: 100%;
    font-size: 1vw;
    padding: 2vw;
}

