body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.alphacoders.com/113/1136703.jpg");
}
h3{
    color: black;
    text-decoration-line: none;
    text-align: center;
    padding: 2vw;
    margin: auto;
    background: rgba(240, 240, 240, 0.70);
    border-radius: 15px;
}
header{
    text-align: center;
    background: rgba(240, 240, 240, 0.50);
}
#title-btn{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;

}
h1{
    background: rgba(240, 240, 240, 0.50);
    border-radius: 15px;
    font-size: 1vw;
}
#title{
    width: 35%;
    text-align: center;
    font-size: 4rem;
}
.information{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2vw;
    margin-top: 8vw;

}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


