<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="src/main/resources/Static/employ.css" th:href="@{/Static/employ.css}" rel="stylesheet">
  <link rel="stylesheet" href="../Static/employ.css"/>
</head>
<body>
<header>
  <h1><marquee behavior="scroll" direction="left">covid stats, deaths 60000, recovered 60000, new infected 53.6</marquee></h1>
</header>
<main>
  <div id="title-btn">
    <div id="buttons">
      <button id="log">LOG OUT</button>
      <button id="user">ADMIN</button>
    </div>
    <h1 id="title">ACAS Test Center</h1>
  </div>
  <div id="search">
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names..">
  </div>
<table id="myTable">
  <tr class="header">
    <thead>
    <tr>
      <th> Client ID </th>
      <th> </th>
      <th> Booking Type </th>
      <th> </th>
      <th> Result </th>
      <th> </th>
      <th> Date </th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookingsTable}">
      <td th:text="${booking.clientID}"></td>
      <td></td>
      <td th:text="${booking.type}"></td>
      <td></td>
      <td th:text="${booking.result}"></td>
      <td></td>

      <td th:each="bookingDate : ${bookingDatesTable}"
          th:if="(${bookingDate.dateID} == ${booking.dateID})"
          th:text="${bookingDate.date +' '+ bookingDate.time}">
      </td>


    </tr>
    </tbody>


</table>
<script>
  function searchFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</body>
</html>
