<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="../static/css/employ.cc" type="text/css" th:href="@{http://localhost:8080/css/employ.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <h1><marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 794, Recovered - 1,129, Deaths - 1, Quick-Test - 371,521, PCR Test - 139.159</marquee></h1>
</header>
<main>
  <div id="title-btn">
    <h2 id="title">ACAS Test-Center</h2>
    <h2 id="title2">Admin</h2>
  </div>
  <div id="search">
    <input  id="myInput" type="text"  onkeyup="searchFunction()" placeholder="Search ID..">
  </div>
  <div id="back">
    <form action="/logout">
      <input type="submit" value="Log Out" />
    </form>
  </div>
  <table id="myTable">
    <tr class="header">
      <thead>
      <tr>
        <th> Client ID </th>
        <th> Booking ID </th>
        <th> Booking Type </th>
        <th> Date </th>
        <th> Result </th>
        <th> Actions </th>
        <th>  </th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="booking : ${bookingsTable}" action="/edit" method="post">
        <td th:text="${booking.clientID}"></td>
        <td th:text="${booking.bookID}"></td>
        <td th:text="${booking.type}"></td>
        <td th:text="${booking.result}"></td>
        <td th:each="bookingDate : ${bookingDatesTable}"
            th:if="(${bookingDate.dateID} == ${booking.dateID})"
            th:text="${bookingDate.getDateDate() + ' ' + bookingDate.getTimeTime()}">

        </td>

        <td><a  type="submit" th:href="@{'/edit/' + ${booking.bookID}}">Edit</a></td>
        <td><a type="submit" th:href="@{'/delete/' + ${booking.bookID}}">Delete</a></td>

      </tr>
      </tbody>
  </table>

  <script>
    function searchFunction() {
      // Declare variables
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        for (j = 0; j < 2; j++) {
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    }
  </script>

</main>
</body>
</html>
