<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>booking view</title>
</head>
<body>
<h1>Show me bookings</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<table id="myTable">
  <tr class="header">
  <thead>
  <tr>
    <th>bookID</th>
    <th>ClientID</th>
    <th>Type</th>
    <th>Result</th>
    <th>DateID</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="booking : ${bookingsTable}">
    <td th:text="${booking.bookID}"></td>
    <td th:text="${booking.clientID}"></td>
    <td th:text="${booking.type}"></td>
    <td th:text="${booking.result}"></td>
    <td th:text="${booking.dateID}"></td>


  </tr>
  </tbody>


</table>
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</body>
</html>
