<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Client Page</title>
</head>
<body>
<h1>Bookings and Results</h1>

<table>
  <thead>
  <th>Full name</th>
  <th></th>
  <th>CPR</th>
  <th></th>
  <th>Type</th>
  <th></th>
  <th>Result</th>
  <th></th>
  <th>Booking date</th>
  </thead>
    <tbody>
    <tr th:each="clientpage : ${clientPageList}">
      <td th:text="${clientpage.full_name}"></td>
      <td></td>
      <td th:text="${clientpage.cpr}"></td>
      <td></td>
      <td th:text="${clientpage.type}"></td>
      <td></td>
      <td th:text="${clientpage.result}"></td>
      <td></td>
      <td th:text="${clientpage.date}"></td>

    </tr>

    </tbody>
</table>
</body>
</html>

