<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>now logged in</title>
  <link href="src/main/resources/Static/home.css" th:href="@{/Static/home.css}" rel="stylesheet">
  <link rel="stylesheet" href="../Static/home.css"/>
</head>
<body>
<header>
  <h1><marquee behavior="scroll" direction="left">covid stats, deaths 60000, recovered 60000, new infected 53.6</marquee></h1>
</header>
<main>
  <div id="title-btn">
    <div id="buttons">
      <button id="log">LOG OUT</button>
      <button id="user">USSR</button>
    </div>
    <h1 id="title">ACAS Test Center</h1>
  </div>
  <section>
    <a href=""><h1>Book a Covid Test</h1></a>
    <a href=""><h1>Book a Covid Vaccine</h1></a>
  </section>
<table>
  <thead>
  <th>Full name</th>
  <th></th>
  <th>CPR</th>
  <th></th>
  <th>Type</th>
  <th></th>
  <th>Result</th>
  <th></th>
  <th>Booking date</th>
  </thead>
    <tbody>
    <tr th:each="clientpage : ${clientPageList}">
      <td th:text="${clientpage.full_name}"></td>
      <td></td>
      <td th:text="${clientpage.cpr}"></td>
      <td></td>
      <td th:text="${clientpage.type}"></td>
      <td></td>
      <td th:text="${clientpage.result}"></td>
      <td></td>
      <td th:text="${clientpage.date}"></td>

    </tr>

    </tbody>
</table>
</body>
</html>

