<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>

<body lang=en-DK style='word-wrap:break-word'>

<div class=WordSection1>

    <p class=MsoNormal><span lang=NL>                   </span><b><span lang=NL
                                                                        style='font-size:28.0pt'> </span></b><b><span lang=EN-GB style='font-size:28.0pt'>  </span></b><b><span
            lang=EN-GB style='font-size:28.0pt;font-family:"Calibri",sans-serif'>COVIDPass</span></b></p>

    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>

    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>



    <p class=MsoNormal><span lang=NL>FULL NAME: {{FULL NAME:}}  </span></p>
    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>
    <p class=MsoNormal><span lang=NL>CPR-number: {{CPR-number:}} </span></p>
    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>
    <p class=MsoNormal><span lang=NL>TYPE: {{TYPE: }} </span></p>
    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>
    <p class=MsoNormal><span lang=NL>RESULT: {{RESULT:}} </span></p>
    <p class=MsoNormal><span lang=NL>&nbsp;</span></p>
    <p class=MsoNormal><span lang=NL>DATE: {{DATE:}} </span></p>

    <p class=MsoNormal><span lang=NL></span></p>




</div>

</body>

</html>
