<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ACAS Test-Center</title>
    <link href="../static/css/index.css" type="text/css" th:href="@{http://localhost:8080/css/index.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <h1><marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 149, Recovered - 541, Deaths - 1, Quick-Test - 242221, PCR Test - 56270</marquee></h1>
</header>
<main>
        <div id="title-btn">
        <h1 id="title">ACAS Test-Center</h1>
        </div>
    <div class="container">
        <div class="dropdown dropleft float-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Log In
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/singleClientPage">Client</a>
                <a class="dropdown-item" href="/adminPage">Admin</a>
                <a class="dropdown-item" href="/secPage">Secretary</a>
            </div>
        </div>
    </div>
    <section>
        <div class="information">
        <a  href="https://en.coronasmitte.dk/find-covid-19-test-center"><h3>Find a Covid Test Center</h3></a>
        <a  href="https://www.sst.dk/en/english/corona-eng"><h3>Denmark Vaccination Process</h3></a>
        <a  href="https://www.sst.dk/da/corona"><h3>Health Advice and Info</h3></a>
        </div>
    </section>

</main>
</body>
</html>
