<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/index.css" type="text/css" th:href="@{http://localhost:8080/css/index.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1><marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 794, Recovered - 1,129, Deaths - 1, Quick-Test - 371,521, PCR Test - 139.159</marquee></h1>
</header>
<main>
    <div id="title-btn">
        <button>Log in</button>
        <h1 id="title">ACAS Test Center</h1>
    </div>
    <section>
        <a href="https://en.coronasmitte.dk/find-covid-19-test-center"><h1>Find a Covid Test Center</h1></a>
        <a href="https://www.sst.dk/da/corona"><h1>Health Advice and Information</h1></a>
        <a href="https://www.sst.dk/en/english/corona-eng"><h1>View Denmarks Vaccination process</h1></a>
    </section>
<div class="test">
<a href ="/adminPage">    -- Admin View --   </a>
<a href ="/secPage">    -- Sec View --   </a>
<a href ="/clientPage">   -- Client View --   </a>
<a href ="/singleClientPage">   -- LOGIN --   </a>
<a href="/whateverPage"> -- BOOK APPOINTMENT --</a>
</div>
</main>
</body>
</html>
