<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <link href="src/main/resources/Static/index.css" th:href="@{/Static/index.css}" rel="stylesheet">
    <link rel="stylesheet" href="../Static/index.css"/>
</head>
<body>
<header>
    <h1><marquee behavior="scroll" direction="left">covid stats, deaths 60000, recovered 60000, new infected 53.6</marquee></h1>
</header>
<main>
    <div id="title-btn">
        <button>Log in</button>
        <h1 id="title">ACAS Test Center</h1>
    </div>
    <section>
        <a href="https://en.coronasmitte.dk/find-covid-19-test-center"><h1>Find a Covid Test Center</h1></a>
        <a href="https://www.sst.dk/da/corona"><h1>Health Advice and Information</h1></a>
        <a href="https://www.sst.dk/en/english/corona-eng"><h1>View Denmarks Vaccination process</h1></a>
    </section>
</main>
</body>
</html>
