<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACAS</title>
    <link rel="stylesheet" type="text/css" href="src/main/resources/Static/index.css">
    <style>
        body {
            padding: 25px;
            background: url("src/main/resources/Static/images/background.jpeg");
            background-repeat: no-repeat;
            background-size: 600px 600px;
        }
    </style>

    <div class="b">
        <form id="login" method="get" action="login.php">
            <label><b>User Name
            </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label><b>Password
            </b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="button" name="log" id="log" value="Log In Here">
            <br><br>
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br><br>
            Forgot <a href="#">Password</a>
        </form>
    </div>
</head>
<body>

</body>
</html>