<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link href="../static/css/employ.cc" type="text/css" th:href="@{http://localhost:8080/css/employ.css}" rel="stylesheet">

</head>
<body>
<div id="title-btn">
<form th:action="@{/createAppointment}" method="post">
    <h5>Booking Type</h5>
    <select name="aptType">
        <option value="test">Test</option>
        <option value="vaccine">Vaccine</option>

    </select>
    <h5>Select Date</h5>
    <h4>Available dates: 01.06.2021 - 01.07.2021 (Weekdays only)</h4>
    <input type="date" name="aptDate"/>
    <h5>Select Time</h5>
    <h4>Available times: 10.00, 11.00, 12.00, 13.00</h4>
    <input type="time" name="aptTime"/>
    <h4></h4>
    <button class="btn btn-outline-dark" type="submit">Book appointment</button>

</form>
</div>
</body>
</html>
