<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secretary</title>
    <link href="../static/css/employ.cc" type="text/css" th:href="@{http://localhost:8080/css/employ.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1><marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 794, Recovered - 1,129, Deaths - 1, Quick-Test - 371,521, PCR Test - 139.159</marquee></h1>
</header>
<main>
    <div id="title-btn">
        <div id="buttons">
            <button id="log">LOG OUT</button>
            <button id="user">SECRETARY</button>
        </div>
        <h1 id="title">ACAS Test Center</h1>
    </div>
    <div id="search">
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for cpr..">
    </div>
<table id="myTable">
    <tr class="header">
        <thead>
        <tr>
            <th> Client ID </th>
            <th> Booking Type </th>
            <th> Date </th>
            <th> Result </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookingsTable}" action="/edit" method="post">
            <td th:text="${booking.clientID}"></td>
            <td th:text="${booking.type}"></td>
            <td th:each="bookingDate : ${bookingDatesTable}"
                th:if="(${bookingDate.dateID} == ${booking.dateID})"
                th:text="${bookingDate.date +' '+ bookingDate.time}">
            </td>
            <td><input type="text" name="name" th:value="${booking.result}"><td/>
            <td><input type="submit" name="update" value="Update"><td/>
        </tr>
        </tbody>
    </table>

<script>
    function searchFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>