<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Homepage</title>
    <link href="../static/css/employ.cc" type="text/css" th:href="@{http://localhost:8080/css/employ.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <h1><marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 794, Recovered - 1,129, Deaths - 1, Quick-Test - 371,521, PCR Test - 139.159</marquee></h1>
</header>
<main>
    <div>
        <h2 id="title">ACAS Test Center</h2>
    </div>

    <div>
            <form action="/logout">
                <input type="submit" value="LOG OUT" />
            </form>
            <form action="/usersPage">
                <input type="submit" value="User Information" />
            </form>
        </div>

    <section id="title-btn">
        <a  href="/newBooking"><h2>Book a Covid Test or Vaccine</h2></a>
    </section>

    <table>
        <thead>
        <th>Full name</th>
        <th></th>
        <th>CPR</th>
        <th></th>
        <th>Type</th>
        <th></th>
        <th>Result</th>
        <th></th>
        <th>Booking date</th>
        </thead>
        <tbody>
        <tr th:each="clientpage : ${clientPageList}"th:if="${clientpage.cpr} == ${myUsername}">>
            <td th:text="${clientpage.full_name}"></td>
            <td></td>
            <td th:text="${clientpage.cpr}"></td>
            <td></td>
            <td th:text="${clientpage.type}"></td>
            <td></td>
            <td th:text="${clientpage.result}"></td>
            <td></td>
            <td th:text="${clientpage.date}"></td>

        </tr>

        </tbody>
    </table>



</main>
</body>
</html>