<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Homepage</title>
    <link href="../static/css/employ.cc" rel="stylesheet" th:href="@{http://localhost:8080/css/employ.css}" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <h1>
        <marquee behavior="scroll" direction="left">Covid-19 Statistics Last 24 Hours, Confirmed Cases - 794, Recovered
            - 1,129, Deaths - 1, Quick-Test - 371,521, PCR Test - 139.159
        </marquee>
    </h1>
</header>
<main>
    <div>
        <h2 id="title">ACAS Test Center</h2>
    </div>

    <div>
        <form action="/logout">
            <input type="submit" value="LOG OUT"/>
        </form>
        <form action="/usersPage">
            <input type="submit" value="User Information"/>
        </form>
    </div>

    <section id="title-btn">
        <a href="/newBooking"><h2>Book a Covid Test or Vaccine</h2></a>
    </section>

    <table>
        <thead>
        <th>Full name</th>
        <th>CPR</th>
        <th>Type</th>
        <th>Result</th>
        <th>Booking date</th>
        <th>Print</th>
        </thead>
        <tbody>
        <tr th:each="clientpage : ${clientPageList}" th:if="${clientpage.cpr} == ${myUsername}">
            <form method="post" th:action="@{'/download-pdf/'}">
                <td th:text="${clientpage.full_name}"></td>
                <input name="fullName" th:value="${clientpage.full_name}" type="hidden">
                <td th:text="${clientpage.cpr}"></td>
                <input name="cpr" th:value="${clientpage.cpr}" type="hidden">
                <td th:text="${clientpage.type}"></td>
                <input name="type" th:value="${clientpage.type}" type="hidden">
                <td th:text="${clientpage.result}"></td>
                <input name="result" th:value="${clientpage.result}" type="hidden">
                <td th:text="${clientpage.date}"></td>
                <input name="date" th:value="${clientpage.date}" type="hidden">
                <td>
                    <button type="submit">COVIDPass</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>