<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <title>Hello world!</title>
    </head>
<body>
<p>
   COVID TEST DIPLOMA
</p>
<p>

<p >
    FULL NAME: {{FULL NAME:}}
</p>

<p>
    CPR-number: {{CPR-number:}}
</p>
<p>
    TYPE: {{TYPE: }}
</p>
<p>
   RESULT: {{RESULT:}}
</p>

<p>
    DATE: {{DATE:}}
</p>



<img src="src/main/resources/static/images/vaccine_corona33.jpg" th:src="@{../static/images/vaccine_corona33.jpg}">

</body>
</html>