<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <link href="../static/css/employ.cc" type="text/css" th:href="@{http://localhost:8080/css/employ.css}" rel="stylesheet">
</head>
<body>
<main>
    <div id="title-btn">
        <div id="buttons">
            <form action="/logout">
                <input type="submit" value="LOG OUT" />
            </form>
            <form action="/singleClientPage">
                <input type="submit" value="Client Information" />
            </form>
        </div>
        <h1 id="title">ACAS Test Center</h1>
    </div>

    <table>
        <thead>
        <th>User ID</th>
        <th></th>
        <th>Password</th>
        <th></th>
        <th>Role</th>
        <th></th>
        <th>Enabled</th>
        <th></th>
        <th>Username</th>
        </thead>
        <tbody>

        <tr th:each="usersPage: ${usersPageList}" th:if="${usersPage.username} == ${myUsername}">
            <td th:text="${usersPage.user_id}"></td>
            <td></td>
            <td th:text="${usersPage.password}"></td>
            <td></td>
            <td th:text="${usersPage.role}"></td>
            <td></td>
            <td th:text="${usersPage.enabled}"></td>
            <td></td>
            <td th:text="${usersPage.username}"></td>

        </tr>

        </tbody>
    </table>
</main>
</body>
</html>
